---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';
const countryDetail = {
  name: 'Belgium',
  flag: 'https://flagcdn.com/be.svg',
  altFlag: 'Belgium flag',
  nativeName: 'Belgie',
  population: '11,319,511',
  region: 'Europe',
  subRegion: 'Western Europe',
  capital: 'Brussels',
  topLevelDomain: '.be',
  currencies: ['Euro'],
  languages: ['Dutch', 'French', 'German'],
  borderCountries: ['France', 'Germany', 'Netherlands'],
};
---

<Layout title={`What about ${countryDetail.name}?`}>
  <Link class="ml-7 pl-[3.2rem] mt-10 w-[6.5rem]" href="/">
    <svg
      class="absolute left-[1.3rem] top-[0.3rem]"
      xmlns="http://www.w3.org/2000/svg"
      width="1.5em"
      height="1.5em"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M21 11H6.83l3.58-3.59L9 6l-6 6l6 6l1.41-1.41L6.83 13H21v-2z"
      ></path></svg
    >Back
  </Link>
  <div
    class="flex flex-col mt-16 mb-14 mx-[1.7rem] min-h-screen dark:text-white"
  >
    <img
      class="h-[14.3rem]"
      src={countryDetail.flag}
      alt={countryDetail.altFlag}
    />
    <h1 class="mt-11 text-xl font-bold">{countryDetail.name}</h1>
    <p class="mt-[1.45rem] font-semibold text-[0.915rem]">
      Native Name: <span class="font-normal">{countryDetail.nativeName}</span>
    </p>
    <p class="mt-[0.65rem] font-semibold text-[0.915rem]">
      Population: <span class="font-normal">{countryDetail.population}</span>
    </p>
    <p class="mt-[0.65rem] font-semibold text-[0.915rem]">
      Region: <span class="font-normal">{countryDetail.region}</span>
    </p>
    <p class="mt-[0.65rem] font-semibold text-[0.915rem]">
      Sub Region: <span class="font-normal">{countryDetail.subRegion}</span>
    </p>
    <p class="mt-[0.65rem] font-semibold text-[0.915rem]">
      Capital: <span class="font-normal">{countryDetail.capital}</span>
    </p>
    <p class="mt-[2.5rem] font-semibold text-[0.915rem]">
      Top Level Domain: <span class="font-normal"
        >{countryDetail.topLevelDomain}</span
      >
    </p>
    <p class="mt-[0.65rem] font-semibold text-[0.915rem]">
      Currencies: <span class="font-normal"
        >{countryDetail.currencies.join(', ')}</span
      >
    </p>
    <p class="mt-[0.65rem] font-semibold text-[0.915rem]">
      Languages: <span class="font-normal"
        >{countryDetail.languages.join(', ')}</span
      >
    </p>

    <h2 class="mt-[2.35rem] font-semibold">Border Countries:</h2>
    <div class="flex justify-between">
      {
        countryDetail.borderCountries.map(country => (
          <Link href={`/${country}`} class="mt-4 min-w-[6.1rem] text-center">
            {country}
          </Link>
        ))
      }
    </div>
  </div>
</Layout>
